name: Security audit
on:
  pull_request:
    # complemented with branch protection on main this will 
    # need to complete successfully before we auto deploy from main
    branches: main
    paths: 
      - '**/Cargo.toml'
      - '**/Cargo.lock'
jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
